# This file is used to configure npm settings
# It can be used to set default values for various npm commands
# For more information, see: https://docs.npmjs.com/misc/config
shamefully-hoist=false

strict-peer-dependencies=false
registry=https://registry.npmmirror.com
